<div class="post">
    {{ post.content }}
    <div class="well well-sm">
        <a href="{{ post.url }}">Permalink</a>
        <div class="btn-group">
            <button class="btn btn-default btn-xs disabled">Share:</button>
            <a class="btn btn-default btn-xs" target="_blank" title="Like on Facebook" href="http://www.facebook.com/plugins/like.
                    php?href={{ post.url }}">
                <i class="fa fa-thumbs-o-up fa-lg fb"></i>
            </a>
        </div>
        <span class="post-category-list">[{% for category in post.categories %}
            <a href="/categories/{{ category }}/">{{ category }}</a>
            {% unless forloop.last %},{% endunless %}
            {% endfor %}]
        </span>
    </div>
</div>
